<div class="home-root">
    <div class="middle-container">
        <div class="js-tilt">
            <img height="180" src="logo/logo-dark.png" alt="IMG">
        </div>
        <button class="google-login" onclick="onclickfn()">
            <i class="fab fa-google" style="font-size:25px; color:red; margin: 0 15px 0 0;"></i>
            <span>Google login</span>
        </button>
    </div>
</div>
<script>
    let onclickfn = () => {
        window.location.href = window.location.href + 'login'
    }
</script>