<meta http-equiv="refresh" content="2;url=.." />
<div class="payment-success">
    <h1>Paayment Successful</h1>
    <h3>Payment ID : {{paymentId}}</h3>
    <h3>Request ID : {{paymentReq}}</h3>
    <br>
    <p>Redirecting you to your profile . . . . .</p>
</div>
<style>
    .payment-success {
        background: white;
        padding: 70px 40px;
        font-family: 'Ubuntu'
    }
</style>