<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
    <div class="container" style="margin-top:80px;">
        <h2>Hello, {{user.username}}</h2>
        <p>Thank you for registering for Manthan 2018.</p>
        <p>login
            <a href="https://manthan18.herokuapp.com">here</a> to see your ticket that you need to carry in order to participate in the event and also you must carry
            a valid identity card with you.</p>
        <div class="footer" style="margin-bottom:50px;">
            <small class="text-muted">for any querries please mail us at : me@mrinalraj.com</small>
        </div>

    </div>
</body>
</html>